<div ng-controller="ModalCtrl">

    <ion-header-bar align-title="left" class="bar-stable">
      <h1 class="title">Guapo's Restuarant | Gaithersburg</h1>
      <div class="buttons">
        <button ng-click="toggleLayoutEditing()" class="button button-clear"><i class="icon ion-edit"></i></button>
      </div>
    </ion-header-bar>

    <hr style="margin-top:60px;">

    <div style="position:absolute;top:170px;left:-3px;background-color:transparent;border:1px solid teal;width:25%;height:150px;border-radius:10px;">
    </div>

    <div ng-repeat="row in droppedObjects" class="row">
	    
	    <div ng-repeat="n in droppedObjects[$index] track by $index" class="col col-10" ng-drop="layoutIsEditable" ng-drop-success="onDropComplete($data,$event,$index,$parent.$index)" style="justify-content:center;align-items:center;display:flex; {{ (droppedObjects[$parent.$index][$index][0].class.indexOf('horizontal')!==-1)?'flex-direction:row;':'flex-direction:column;'; }}">
	        <!-- <span class="title">#{{ $index+$parent.$index*10 }}</span> -->

	        <div ng-class="obj.class" ng-init="printIndxs($index,$parent.$index,$parent.$parent.$index)" ng-repeat="obj in droppedObjects[$parent.$index][$index]" ng-drag="layoutIsEditable" ng-drag-data="obj"
	             ng-drag-success="onDragSuccess($data,$event,$index,$parent.$index,$parent.$parent.$index)" ng-center-anchor="{{centerAnchor}}">
                    <i ng-if="obj.seats!==2" class="icon ion-person table-person-{{obj.side1}} table-person-{{obj.side1}}-spot0"></i>
                    <i ng-if="obj.seats===6" class="icon ion-person table-person-{{obj.side1}} table-person-{{obj.side1}}-spot1"></i>
                    <i class="icon ion-person table-person-{{obj.side1}} table-person-{{obj.side1}}-spot2"></i>
                    {{obj.name}}{{ $parent.$index+$parent.$parent.$index*10 }}
                    <i ng-if="obj.seats!==2" class="icon ion-person table-person-{{obj.side2}} table-person-{{obj.side2}}-spot0"></i>
                    <i ng-if="obj.seats===6" class="icon ion-person table-person-{{obj.side2}} table-person-{{obj.side2}}-spot1"></i>
                    <i class="icon ion-person table-person-{{obj.side2}} table-person-{{obj.side2}}-spot2"></i>
	        </div>

	    </div>

    </div>

    <hr>

    <ul class="draggable-objects" ng-show="layoutIsEditable">
        <li ng-if="true">
            <div class="table-vertical-p6" style="position:relative;" ng-drag="true" ng-drag-data="{name:'#',class:'table-vertical-placed-p6',side1:'left',side2:'right',seats:6}" data-allow-transform="true">
            <i class="icon ion-person table-person-left table-person-left-spot0"></i>
            <i class="icon ion-person table-person-left table-person-left-spot1"></i>
            <i class="icon ion-person table-person-left table-person-left-spot2"></i>
            TBL
            <i class="icon ion-person table-person-right table-person-right-spot0"></i>
            <i class="icon ion-person table-person-right table-person-right-spot1"></i>
            <i class="icon ion-person table-person-right table-person-right-spot2"></i>
            </div>
        </li>

        <li ng-if="true">
            <div ng-drag="true" class="table-horizontal-p6" ng-drag-data="{name:'#',class:'table-horizontal-placed-p6',side1:'top',side2:'bottom',seats:6}" data-allow-transform="true">
            <i class="icon ion-person table-person-top table-person-top-spot0"></i>
            <i class="icon ion-person table-person-top table-person-top-spot1"></i>
            <i class="icon ion-person table-person-top table-person-top-spot2"></i>
            TABLE
            <i class="icon ion-person table-person-bottom table-person-bottom-spot0"></i>
            <i class="icon ion-person table-person-bottom table-person-bottom-spot1"></i>
            <i class="icon ion-person table-person-bottom table-person-bottom-spot2"></i>
            </div>
        </li>

        <li ng-if="true" style="padding-top:20px;">
            <div class="table-vertical-p4" style="position:relative;" ng-drag="true" ng-drag-data="{name:'#',class:'table-vertical-placed-p4',side1:'left',side2:'right',seats:4}" data-allow-transform="true">
            <i class="icon ion-person table-person-left table-person-left-spot0"></i>
            <i class="icon ion-person table-person-left table-person-left-spot2"></i>
            TBL
            <i class="icon ion-person table-person-right table-person-right-spot0"></i>
            <i class="icon ion-person table-person-right table-person-right-spot2"></i>
            </div>
        </li>

        <li ng-if="true" style="padding-top:20px;">
            <div ng-drag="true" class="table-horizontal-p4" ng-drag-data="{name:'#',class:'table-horizontal-placed-p4',side1:'top',side2:'bottom',seats:4}" data-allow-transform="true">
            <i class="icon ion-person table-person-top table-person-top-spot0"></i>
            <i class="icon ion-person table-person-top table-person-top-spot2"></i>
            TB
            <i class="icon ion-person table-person-bottom table-person-bottom-spot0"></i>
            <i class="icon ion-person table-person-bottom table-person-bottom-spot2"></i>
            </div>
        </li>

        <li ng-if="true" style="padding-top:30px;">
            <div class="table-vertical-p2" style="position:relative;" ng-drag="true" ng-drag-data="{name:'#',class:'table-vertical-placed-p2',side1:'left',side2:'right',seats:2}" data-allow-transform="true">
            <i class="icon ion-person table-person-left table-person-left-spot2"></i>
            T
            <i class="icon ion-person table-person-right table-person-right-spot2"></i>
            </div>
        </li>

        <li ng-if="true" style="padding-top:30px;">
            <div ng-drag="true" class="table-horizontal-p2" ng-drag-data="{name:'#',class:'table-horizontal-placed-p2',side1:'top',side2:'bottom',seats:2}" data-allow-transform="true">
            <i class="icon ion-person table-person-top table-person-top-spot2"></i>
            T
            <i class="icon ion-person table-person-bottom table-person-bottom-spot2"></i>
            </div>
        </li>



        <li ng-if="true" style="float:right;">
            <div class="trashcan" ng-drop="true" ng-drop-success="">
                <i class="icon ion-trash-a"></i>
            </div>
        </li>

    </ul>

</div>