<div class="row">
  
  <div class="col col-20" style="border-right:2px solid teal;z-index:5;padding:0;background-color:white;">
    
    <div class="row" style="border-bottom:2px solid teal;height:150px;">
      <div class="col"></div>
      <div class="col col-90 col-bottom" style="color:#444;font-size:23px;padding-left:25px;">
          RESTUARANT
      </div>
      <div class="col"></div>
    </div>

    <div class="res-left-sidenav" style="position:relative;">
        <ion-list>
            <ion-item nav-clear href="#/app/lists">
                CHECK IN
            </ion-item>
            <ion-item nav-clear href="#/app/motion">
                RESERVATIONS
            </ion-item>
            <ion-item nav-clear href="#/app/components">
                TABLES
            </ion-item>
        </ion-list>
    </div>

    <div class="res-left-sidenav" style="position:relative;">
      <div class="item item-image">
        <img src="img/icon.png">
      </div>
        
    </div>

  </div>

  <ion-nav-view name="menuContent" class="col col-80" style="z-index:0;"></ion-nav-view>

</div>
